<!DOCTYPE html>
<html>
  {{> head}}
  <body class="page_home">
    <div class="container-grid">
      {{> header}}
      <div class="item container-primary">
        <h1>Redwoods</h1>
        <p>Paragraph</p>
      </div> <!-- container-primary -->
      <div class="item container-secondary">
        <section>
          <h4>title</h4>
          <ol>
            <li>item 1</li>
            <li>item 3</li>
          </ol>
        </section>
      </div>
      {{> footer}}
    </div>
    
  </body>
</html>

